<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1020581351082-s202vootdgqtm1rah2fs9i37oq70657p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020581351082-s202vootdgqtm1rah2fs9i37oq70657p</string>
	<key>API_KEY</key>
	<string>AIzaSyA1Fy68PtIzdlu_dqlk3-UjTKNHsTavBlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1020581351082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bigulEkyc</string>
	<key>PROJECT_ID</key>
	<string>bigul-ekyc</string>
	<key>STORAGE_BUCKET</key>
	<string>bigul-ekyc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020581351082:ios:b5b226584e9956e54c4ad3</string>
</dict>
</plist>